# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.*
*.env
.env.local
.env.development
.env.test
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# Cloudflare 機密
.cloudflare/secrets.json

# Netlify 機密
.netlify/state.json

# 暫存檔案
.cache
.eslintcache
.vscode

# 日誌文件
*.log
logs
